<!---- HTML for groups Index -->

<p id="notice"><%= notice %></p>

<h1>Groups</h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
      <table class="table table-inverse">
        <thead class="thead-inverse">
          <tr>
            <th>Group Name</th>
            <th>Group members</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @groups.each do |group| %>
            <tr>
              <td><%= group.group_name %></td>
              <td><%= group.member_count %></td>
              <td><%= link_to 'Show', group %></td>
              <td><%= link_to 'Edit', edit_group_path(group) %></td>
              <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<br>

<%= link_to 'New Group', new_group_path %>
<!--------------------------------------------------------------------------------------->

<!--- HTML for Groups Show -------------------------------->
<p>
  <strong>Group Name:</strong>
  <%= @groups.group_name %>
</p>

<p>
  <strong>Group info:</strong>
  <%= @groups.group_info %>
</p>
<div>
<p>Members of <%= @groups.group_name %></p>
  <% @groupmem.each do |groupmembers| %>
    <tr>
      <% user = groupmembers.user_id%>
      <% actualuser = User.find(user) %>
      <td><%= actualuser.username %></td>
    </tr>

<% end %>
</div>
<br />

<%= link_to 'Edit', edit_group_path(@groups) %> |
<%= link_to 'Back', groups_path %>

<!-- -------------------------------------------------------------------------------->