

<div class="row mt pt">

  <div class= "large-7 columns" id="groups">
    <%= render partial: @groups.reverse %>
  </div>
</div>

<%= button_to 'Create New Group', (render partial: "groups/new") %>
<%= button_to 'Create new Group', new_group_path %>
