<!DOCTYPE HTML>
<html>
	<head>
		<title>Collab Group Name</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	    <%= stylesheet_link_tag "group_main" %>
	    <%= stylesheet_link_tag "noscript" %>
	</head>
	<body class="is-loading">

			<div id="wrapper">

					<header id="header">
						<a href="index.html" class="logo">Collabo or group name</a>
					</header>

					<div id="main">

							<section class="post">
								<header class="major">
									<h1>Collab Group<br />
									Name Here</h1>
									<p>Short blurb about this group.</p>
								</header>
								<div class="image main"><%= image_tag("gl006.jpg", :alt=>"")%></div>
								<!-- <div class="image main"><img src="images/006.jpeg" alt="" /></div> -->
								<p>Details about project.</p>
								<p>Vision/Goal of project.</p>
							</section>


                        <section>
							<ul class="actions" align="center">
										<li><a href="#" class="button special big">Join</a></li>
                                        <li><a href="#" class="button">Contact Us</a></li>
                            </ul>
						</section>
					</div>
<!--
					<footer id="footer">
						<section>
							<ul class="actions" align="center">
										<li><a href="#" class="button special big">Join</a></li>
                                        <li><a href="#" class="button">Contact Us</a></li>
                            </ul>
						</section>
						<section class="split contact">
							
							<section>
								<h3>Social</h3>
								<ul class="icons alt">
									<li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
								</ul>
							</section>
						</section>
					</footer>
-->
				<!-- Copyright -->
					<div id="copyright">
						<ul><li>&copy; Collabo by SFU</li></ul>
					</div>

			</div>

		<!-- Scripts -->
	</body>
</html>