<!--<%= link_to 'Create User', new_user_path %>-->

<div class="container-fluid">
	<div class="row">
	  	<h1>Collabo: The Online Project Collaboration Solution</h1>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<h3>What is Collabo?</h3>
		</div>
		<div class="col-sm-4"></div>
		<div class="col-sm-4">
			<h3>Meet the Team</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<p>Group Organizer Collabo is a group matching solution for individuals aspiring to work on personal, business or school projects. Similar group forming websites do exist, but none for the sole purpose of working on projects. People currently resolve this problem by working with friends, co-workers, and classmates or connecting through social media sites such as LinkedIn and Facebook. With Collabo, users are no longer limited to the reaches of their social network nor their geographical location. Users from anywhere in the world can connect to this online network and immediately begin finding projects to collaborate on. Collabo reduces the chances of encountering the ever-dreaded slackers and slobs, as this web app targets proactive individuals who want to build and develop a career. High schoolers, undergraduates, graduate students, and even business professionals will use our product to bolster their skill sets and experiences to pursue their career.
			</p>
		</div>
		<div class="col-sm-4"></div>
		<div class="col-sm-4">
			<table class="table table-inverse">
			  <thead class="thead-inverse">
			    <tr>
			      <th>#</th>
			      <th>First Name</th>
			      <th>Last Name</th>
			      <th>Role</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <th scope="row">1</th>
			      <td>Gareth</td>
			      <td>Moon</td>
			      <td>Front End</td>
			    </tr>
			    <tr>
			      <th scope="row">2</th>
			      <td>Eric</td>
			      <td>Lam</td>
			      <td>Back End</td>
			    </tr>
			    <tr>
			      <th scope="row">3</th>
			      <td>Henry</td>
			      <td>Tan</td>
			      <td>Front End</td>
			    </tr>
			    <tr>
			      <th scope="row">4</th>
			      <td>Bryce</td>
			      <td>Golamco</td>
			      <td>Back End</td>
			    </tr>
			    <tr>
			      <th scope="row">5</th>
			      <td>David</td>
			      <td>Guo</td>
			      <td>All</td>
			    </tr>
			  </tbody>
			</table>
		</div>
  	</div>
</div>