<!DOCTYPE HTML>

<html>
    <body class="landing">
        <div id="page-wrapper">
            <section id="banner" class= "wrapper style1 special">
                <div class="inner">
                    <ul class="actions">
        			    <li><div class = "button special"> <%= link_to('Logout', destroy_user_session_path, method: :delete) %></div></li>
        			</ul>
    			</div>
			</section>
        </div>
    </body>
</html>
