<!DOCTYPE HTML>

<html>
    <body class="landing">
        <div id="page-wrapper" >
            <section id="banner" class= "wrapper style1 special">
						<div class="inner">
							<h1>Join us</h1>
							<p>Be a part of the Team</a>.
                            </p>
							<ul class="actions">
								<li><div class = "button special"> <%= link_to 'Sign Up', new_user_registration_path%></div></li> <!--launch login/register session-->
							</ul>


						    <p>already have an account?</a>
						    <ul class="actions">
								<li><div class = "button"> <%= link_to 'Sign In', new_user_session_path%></div></li><!--launch login/register session-->
							</ul>
						</div>
					</section>
        </div>
    </body>
</html>
